h1,h5{
	text-align: center;
}

.heading{
	font: 5px;
	font-weight: bold;
	color: white;
	font-style: italic;
}

.tabStyle{
  display: flex;
  color:light blue;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

#overlay {
	position:absolute
}

.form-group{
	width:500px;
}

#choose{
	width:500px;
}
#search_button{
	width:70px;
}

.card-body .floatright{
	float: right;
}

.card-body .codeToColor{
	background-color:"gray";
}

.formStyle{
	display:inline-block;
	margin:auto;
	
}

body {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
